#cores {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    width: fit-content;
    margin-left: 5px;
    align-content: space-evenly;
    height: 100vh;
    align-content: space-around;
}
.core {
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    align-self: center;
    padding: 12.5px;
    background: url("../img/cpu.svg") no-repeat;
    background-size: 100px auto;
    background-position-y: center;
}
.cpu-rad-progressbar {
    --size: 75px;
    --border: 3px;
    --fg: hsl(calc(120deg - calc(var(--value) * 1.2deg)) 100% 50%);
    --bg: #121212;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: var(--anim-time);
    background:
            radial-gradient(closest-side, var(--bg) calc(100% - var(--border)), transparent 0 99.9%, #555555 0),
            conic-gradient(var(--fg) calc(var(--value) * 1%), #555555 0);
    font-size: calc(var(--size) / 5);
    position: relative;
}
.cpu-rad-progressbar::before {
    counter-reset: percentage var(--value);
    content: '#' attr(data-core) ' ' attr(data-power) 'W \A ' attr(data-freq) 'MHz \A ' counter(percentage) '% ';
    width: var(--size);
    position: absolute;
    top: calc(var(--size) / 2);
    left: calc(var(--size) / 2);
    transform: translateY(-27.5%) translateX(-45%);
    height: var(--size);
    font-size: .75rem;
    white-space: pre;
}
