#gpu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
}
.gpu {
    display: grid;
    grid-template-areas:
            'i l m c'
            'i l m mc'
            'i l m p'
            'i l m t'
            'n n n n';
    height: 150px;
    width: 200px;
    margin: 3px;
    text-align: right;
    align-items: center;
}
.gpu img {
    grid-area: i;
    transform: rotate(-90deg) translateY(-10px);
    width: 110px;
    align-self: center;
}
.gpu-name {
    position: relative;
    text-align: left;
    grid-area: n;
}
.gpu .clock:first-child {
    grid-area: c;
}
.gpu .mem-clock {
    grid-area: mc;
}
.gpu .power {
    grid-area: p;
}
.gpu .temp {
    grid-area: t;
}
.gpu .memory {
    grid-area: m;
    width: 10px;
    height: 100%;
    background: #555555;
    transform: translateX(-10px);
}
.gpu .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: calc(var(--value) * 100%);
    background: hsl(calc(120deg - calc(var(--value) * 120deg)) 100% 50%);
    transition: var(--anim-time);
}
.gpu .load {
    grid-area: l;
    width: 10px;
    height: 100%;
    background: #555555;
    transform: translateX(-17.5px);
}
.gpu-name::after {
    content: ' (' attr(data-driver) ')';
    font-size: .75rem;
}
