#memory-info {
    display: grid;
    grid-gap: 10px;
    width: fit-content;
    grid-template-rows: repeat(auto-fit, minmax(125px, 1fr));
    grid-auto-flow: column;
    align-items: center;
    height: 100vh;
}
.memory-info {
    display: grid;
    grid-template-areas:
            'i b'
            'i t'
            'i s'
            'i f'
            'i m';
    text-align: center;
    justify-content: center;
    width: 150px;
}
.memory-info img {
    width: 50px;
    transform: rotate(-90deg) scale(2) translateY(-3px);
    align-self: center;
    grid-area: i;
}
.memory-info .bank {
    grid-area: b;
}
.memory-info .type {
    grid-area: t;
}
.memory-info .memory-cap {
    grid-area: s;
}
.memory-info .clock {
    grid-area: f;
}
.memory-info .manufacturer {
    grid-area: m;
}
.memory-info p {
    margin: 0;
    padding: 0;
    align-self: center;
}
