.rad-progressbar {
    margin-left: 12.5px;
    --size: 75px;
    --border: 3px;
    --fg: hsl(calc(120deg - calc(var(--value) * 1.2deg)) 100% 50%);
    --bg: #121212;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: var(--anim-time);
    background:
            radial-gradient(closest-side, var(--bg) calc(100% - var(--border)), transparent 0 99.9%, #555555 0),
            conic-gradient(var(--fg) calc(var(--value) * 1%), #555555 0);
    font-size: calc(var(--size) / 5);
}
.rad-progressbar::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}
