@import url("cpu.css");
@import url("gpu.css");
@import url("display.css");
@import url("memory.css");
@import url("memory-info.css");
@import url("media.css");

:root {
    --anim-time: 1000ms;
    --value: 0;
}
body {
    background: black;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
* {
    color: white;
    font-family: "JetBrains Mono", sans-serif;
}
#cpu-temp {
    position: fixed;
    top: 3px;
    left: 3px;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
}
#grid {
    display: grid;
    width: 100%;
    grid-template-areas:
            'g g g'
            'd n p';
    grid-template-columns: repeat(3, 1fr);
}
#os {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    transform: rotate(-90deg) translateX(calc(100% + 5px));
    transform-origin: right bottom;
}
#uptime {
    position: fixed;
    top: 0;
    right: 3px;
    text-align: right;
    margin: 3px;
}
#uptime::before {
    content: 'Uptime: '
}
@font-face {
    font-family: "JetBrains Mono";
    src: url("../JetBrainsMonoNL-Regular.ttf") format('truetype');
}
